.mfp-content {
  .product-quick-view.product {
    justify-content: space-between;
    height: 100%;
    flex-flow: column;
  }
  .product-lightbox {
    .product-combo {
      .akk-sub-products:first-child {
        margin-top: 0;
      }

      .akk-sub-products:last-child {
        margin-bottom: 0;
      }

      .akk-sub-products {
        margin: 20px 0px;
        .akk-sub-product {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .sub-product-image {
            display: flex;
            align-items: center;
            gap: 10px;
            label,
            span {
              font-weight: 500 !important;
            }
          }
          .sub-product-image {
            img {
              width: 40px;
              min-width: 40px;
              height: 40px;
              object-fit: cover;
              @include desktop {
                width: 60px;
                height: 60px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    .product-content-quick-view {
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
      }
    }
    .product-quick-view-container {
      position: relative;
      overflow: auto;
      scrollbar-color: #ec7265 #f6f6f6;
      scrollbar-width: thin;
      max-height: 800px;
      background: #f1f1f1;
      height: calc(100vh - 65px);

      .product-info {
        padding: 0 !important;
      }
      .stock.in-stock {
        display: none;
      }
      .product-gallery {
        padding: 20px !important;
        .slider:before {
          display: none;
        }
      }
    }
    .wrapper-form__add-to-cart {
      height: 100%;
    }
    form {
      position: relative;
      height: 100%;
      flex-flow: column;
      justify-content: space-between;
      &.cart {
        margin-bottom: 0;
        .group-button-add-to-cart {
          display: flex;
          flex: auto !important;
          justify-content: space-between;
          gap: 0;
          position: sticky;
          bottom: 0;
          width: 100%;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
          z-index: 9999;
          padding: 10px 15px;
          @include desktop {
            padding: 15px 25px;
          }
        }
        .ux-quantity {
          width: auto;
          .ux-quantity__button--minus,
          .ux-quantity__button--plus {
            border: 2px solid #ec7265 !important;
            min-width: 45px;
            max-height: 45px;
            border-radius: 5px !important;
            color: #ec7265 !important;
            font-size: 18px;
            font-weight: 600;
            padding: 0 !important;
            @include desktop {
              padding: 5px 20px;
            }
          }
          .akk-sub-product-qty,
          .input-text.qty {
            margin: 0 5px;
            min-width: 55px;
            min-height: 45px;
            border-radius: 5px !important;
            text-align: center;
            @include desktop {
              margin: 0 10px;
            }
          }
        }
        .single_add_to_cart_button,
        .cta_add_to_cart {
          background-color: #ec7265;
          border-radius: 10px;
          color: #fff;
          font-size: 15px;
          font-weight: 700;
          margin: 0;
          width: 50%;
          @include desktop {
            width: 80%;
          }
        }
        .whatsapp_product_btn {
          margin-top: 0px !important;
        }
      }
    }
    .mfp-wrap {
      overflow: hidden !important;
    }
    table.variations {
      padding-left: 20px;
      padding-right: 20px;
    }

    .woocommerce-variation.single_variation {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
    }

    .combo-warning {
      color: #ec7265;
      font-weight: bold;
      display: none;
      margin-top: 10px;
    }
    .akk-accordion {
      .akk-accordion-header {
        background-color: white;
        padding: 20px;
        cursor: pointer;
        font-weight: bold;
      }
      .akk-accordion-body {
        padding: 20px;
        .packing-input {
          width: 100%;
          padding: 10px 15px;
          border: 1px solid #d8d8d8;
        }
      }
    }

    .product-combo {
      .akk-sub-products {
        margin: 20px 0px;
      }
      .akk-sub-product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .sub-product-image {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
