.custom-disabled-product {
  .cta_add_to_cart a,
  .quick-view.quick-view-added {
    pointer-events: none;
    cursor: default;
    background: #999;
    text-decoration: none;
  }
  .box-image .attachment-woocommerce_thumbnail {
    filter: brightness(0.5);
  }
}
h2 {
  &.jsScroll {
    font-size: 20px;
    font-weight: 500 !important;
    margin: 0 !important;
  }
}
.loop_products_custom {
  .product {
    padding: 0 !important;
    @include tablet {
      padding: 0 9.8px 19.6px !important;
    }
    @include desktop {
      padding: 0 9.8px 19.6px !important;
    }
    .col-inner {
      .badge-container {
        left: 5px !important;
        opacity: 0.8;
        @include tablet {
          left: 0 !important;
          opacity: 1;
        }
        @include desktop {
          left: 0 !important;
          opacity: 1;
        }
      }
      .product-small.box {
        display: flex;
        align-items: center;
        border: none;
        margin: 5px 0 20px 0;
        @include tablet {
          display: block;
          border: 1px solid #e5e5e5;
          margin: 0;
        }
        @include desktop {
          display: block;
          border: 1px solid #e5e5e5;
          margin: 0;
        }
        .box-image {
          min-width: 163px;
          width: 163px;
          height: 163px;
          @include tablet {
            min-width: 100%;
            width: 100%;
            height: auto;
          }
          @include desktop {
            min-width: 100%;
            width: 100%;
            height: auto;
          }
          .image-fade_in_back {
            .quick-view {
              text-align: end;
            }
            img {
              width: 95%;
              height: auto;
              object-fit: cover;
              @include tablet {
                padding: 0;
                width: 100%;
              }
              @include desktop {
                padding: 0;
                width: 100%;
              }
            }
          }
        }
      }
    }
    .product-title {
      a {
        color: #000;
        font-size: 16px !important;
        min-height: 50px;
        font-weight: 400;
        @include tablet {
          font-size: 16px !important;
          min-height: 40px;
          font-weight: 600;
        }
        @include desktop {
          font-size: 16px !important;
          min-height: 40px;
          font-weight: 600;
        }
      }
    }
    .product-price {
      font-size: 14px !important;
      @include desktop {
        font-size: 18px !important;
      }
    }
    .product-short-description {
      min-height: 30px;
      color: #252525;
      @include desktop {
        min-height: 42px;
      }
    }
  }
}
