.widget_shopping_cart_content {
  .product_list_widget {
    .mini_cart_item {
      a:not(.remove) {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
        margin-left: 10px;
        img {
          height: 70px;
          width: auto;
          object-fit: cover;
        }
      }
    }
    .ux-mini-cart-qty {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .ux-quantity {
        width: 100%;
        display: flex;
        align-items: center;
      }
      .buttons_added {
        .input-text {
          margin: 0 10px;
          min-width: 50px;
          min-height: 40px;
          border-radius: 5px !important;
          text-align: center;
          font-size: 12px;
        }
        .button.minus,
        .button.plus {
          border: 2px solid #ec7265 !important;
          height: 40px;
          line-height: 1;
          width: 40px;
          min-height: auto;
          border-radius: 5px !important;
          color: #ec7265 !important;
          font-size: 18px;
          font-weight: 600;
          padding: 0 !important;
          transition: transparent 0.3s;
        }
        .button.minus:hover,
        .button.plus:hover {
          background-color: #ec7265;
          color: #fff !important;
          box-shadow: none;
        }
      }

      .product-subtotal {
        text-align: end !important;
      }
    }
  }
  .ux-mini-cart-footer {
    font-size: 14px;
    color: #ec7265;
    background: transparent !important;
    .amount {
      color: inherit;
    }
    p.total {
      border: none;
    }
  }
  .woocommerce-mini-cart__buttons_wrapper {
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px 20px;
    background: #fff;
    p.total {
      border: none;
      font-size: 20px;
    }
  }
  .woocommerce-mini-cart {
    font-size: 14px;
  }
}

.miniCartOnPage {
  background: #f6f6f6;
  border-radius: 10px;
  padding: 0px !important;

  .widget_shopping_cart {
    overflow: auto;
    scrollbar-color: #ec7265 #f6f6f6;
    scrollbar-width: thin;
    min-height: 100%;
  }

  .inforMinimunRule {
    padding: 20px;
    background: #e5e5e5;
    margin-bottom: 20px;

    .rule_checkout_mini_cart:first-child {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 5px;
    }
  }

  .widget_shopping_cart_content {
    .woocommerce-mini-cart-item {
      margin-left: 0px;
    }
    .widget_shopping_cart {
      padding: 40px 20px 20px;
    }
    .woocommerce-mini-cart-item {
      margin-left: 0px;
    }
  }
  .widget_shopping_cart_content .woocommerce-mini-cart__empty-message.empty {
    font-size: 14px;
  }
}
