.widget_shopping_cart_content {
  overflow-y: auto;
  .product_list_widget {
    .mini_cart_item {
      a:not(.remove) {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
        margin-left: 10px;
        img {
          height: 70px;
          width: auto;
          object-fit: cover;
        }
      }
    }
    .ux-mini-cart-qty {
      .buttons_added {
        .input-text {
          margin: 0 10px;
          min-width: 55px;
          min-height: 35px;
          border-radius: 5px !important;
          text-align: center;
        }
        .button.minus,
        .button.plus {
          border: 2px solid #ec7265 !important;
          min-width: 35px;
          max-height: 35px;
          border-radius: 5px !important;
          color: #ec7265 !important;
          font-size: 18px;
          font-weight: 600;
          padding: 0 !important;
          transition: transparent 0.3s;
        }
        .button.minus:hover,
        .button.plus:hover {
          background-color: #ec7265;
          color: #fff !important;
          box-shadow: none;
        }
      }
      .product-subtotal {
        text-align: end !important;
      }
    }
  }
}
